<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static "css/style.css" %}" />
		<title>EVENTO</title>
	</head>

	<body>
		{% block content %}
		<div class="container">
			<div id="left">
				<h2>Do</h2>
				<button onclick="openPopup()">+</button>
				<!-- Содержимое всплывающего окна -->
				<div id="popup" class="popup">
					<form method="post">
						{% csrf_token %}
						<h2>Введите задание</h2>
							
						{{ form.task }}<br /><br />
						{{ form.description }}<br /><br />

						<button onclick="closePopup()">Закрыть окно</button>
						<button>Добавить задание</button>
					</form>
				</div>
				{% for el in card %}
				{% if el.status == 0 %}
				<div class="list" draggable="true">
					<p >{{el.id}}</p>
					<h3>{{el.task}}</h3>
					<p>{{el.description}}</p>
					
				</div>
				{% endif %}
				{% endfor %}
				
			</div>
			<div id="center"><h2>In Progress</h2>
				{% for el in card %}
				{% if el.status == 1 %}
				<div class="list" draggable="true">
					<h3>{{el.id}}</h3>
					<h3>{{el.task}}</h3>
					<p>{{el.description}}</p>
				</div>
				{% endif %}
				{% endfor %}
			
			</div>
			<div id="right"><h2>Complete</h2>
				{% for el in card %}
				{% if el.status == 2 %}
				<div class="list" draggable="true">
					<button onclick="deleteRecord({{ el.id }})">-</button>
					<p>{{el.id}}</p>
					<h3>{{el.task}}</h3>
					<p>{{el.description}}</p>					
				</div>
				{% endif %}
				{% endfor %}
			</div>
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script src="{% static "js\index.js" %}"></script>
		</div>
		{% endblock %}
	</body>
</html>
