<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static "css/style.css" %}" />
		<title>Document</title>
		<!--<script src="{% static "js/index.js" %}"></script>-->
	</head>
	<body>
		{% block content %}
		<div class="container">
			<div id="left">
				<h2>Do</h2>
				{% for el in card %}
				<div class="list" draggable="true">
					<h3>{{el.task}}</h3>
					<p>{{el.description}}</p>
				</div>
				{% endfor %}
				<button onclick="openPopup()">+</button>
				<!-- Содержимое всплывающего окна -->
				<div id="popup" class="popup">
					<form method="post">
						{% csrf_token %}
						<h2>Введите задание</h2>

						{{ form.task }}<br /><br />
						{{ form.description }}<br /><br />

						<button onclick="closePopup()">Закрыть окно</button>
						<button>Добавить задание</button>
					</form>
				</div>
			</div>
			<div id="center"><h2>In Progress</h2></div>
			<div id="right"><h2>Complete</h2></div>

			<script>
				let lists = document.getElementsByClassName('list')
				let rightBox = document.getElementById('right')
				let leftBox = document.getElementById('left')
				let centerBox = document.getElementById('center')

				for (list of lists) {
					list.addEventListener('dragstart', function (e) {
						let selected = e.target

						rightBox.addEventListener('dragover', function (e) {
							e.preventDefault()
						})
						rightBox.addEventListener('drop', function (e) {
							rightBox.appendChild(selected)
							selected = null
						})

						leftBox.addEventListener('dragover', function (e) {
							e.preventDefault()
						})
						leftBox.addEventListener('drop', function (e) {
							leftBox.appendChild(selected)
							selected = null
						})

						centerBox.addEventListener('dragover', function (e) {
							e.preventDefault()
						})
						centerBox.addEventListener('drop', function (e) {
							centerBox.appendChild(selected)
							selected = null
						})
					})
				}

				function openPopup() {
					var popup = document.getElementById('popup')
					popup.style.display = 'block'
				}

				// Функция для закрытия всплывающего окна
				function closePopup() {
					var popup = document.getElementById('popup')
					popup.style.display = 'none'
				}
			</script>
		</div>
		{% endblock %}
	</body>
</html>
